body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ac4caf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: absolute;
    right: 500px;
}
.link:hover {
    background-color: #9e45a0;
}
img {
    width: 300;
    height: 250px;
}
header {
    background-color: #6200ea;
    color: white;
    text-align: center;
    padding: 20px;
}
#postagens {
    margin 20px;
    background-color: #6200ea;
    border-radius: 8px;
    text-align: center;
.postagem {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}  
aside {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
aside h3 {
    color: #6200ea;
}    
aside ul {
    list-style-type: none;
    padding: 10px;
}
aside ul li {
    margin-bottom: 10px;
}
aside ul li a {
    text-decoration: none;
    color: #6200ea;
}
aside ul li a:hover {
    text-decoration: underline;
}
    button {
    z-index: 10;
    position: relative;
}

 
